In [19]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Simple Scraper

In [4]:
URL = "https://www.worldometers.info/world-population/population-by-country/"

res = requests.get(URL)

html = BeautifulSoup(res.content)

In [16]:
table = html.find("table", id="example2")
header = table.find("thead") 
body = table.find("tbody")

columns=[]
for variable in header.find_all("th"):
    columns.append(variable.get_text())

data = []

for row in body.find_all("tr"):

    row_data = []
    for val in row.find_all("td"):
        row_data.append(val.get_text())

    data.append(row_data)

In [21]:
pd.DataFrame(data, columns=columns)

,#,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,"1,428,627,663",0.81 %,"11,454,490",481,"2,973,190","-486,136",2.0,28,36 %,17.76 %
1,2,China,"1,425,671,352",-0.02 %,"-215,985",152,"9,388,211","-310,220",1.2,39,65 %,17.72 %
2,3,United States,"339,996,563",0.50 %,"1,706,706",37,"9,147,420","999,700",1.7,38,83 %,4.23 %
3,4,Indonesia,"277,534,122",0.74 %,"2,032,783",153,"1,811,570","-49,997",2.1,30,59 %,3.45 %
4,5,Pakistan,"240,485,658",1.98 %,"4,660,796",312,"770,880","-165,988",3.3,21,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,"4,386",-0.09 %,-4,44,100,0,1.6,44,11 %,0.00 %
230,231,Falkland Islands,"3,791",0.29 %,11,0,"12,170",0,1.6,40,62 %,0.00 %
231,232,Niue,"1,935",0.05 %,1,7,260,0,2.4,36,41 %,0.00 %
232,233,Tokelau,"1,893",1.18 %,22,189,10,0,2.6,27,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,"1,295",0,0,,,N.A.,0.00 %

# Scraping ICA

In [25]:
URL = "https://handlaprivatkund.ica.se/stores/1003422/categories"

res = requests.get(URL)

html = BeautifulSoup(res.content)

In [42]:
def product_parser(product_html):
    """
    Input: Product HTML
    Output: Name, Price of product
    """
    name = product_html.find("a", attrs={"data-test": "fop-product-link"}).get_text()
    price = product_html.find("strong", attrs={"data-test": "fop-price"}).get_text()

    return name, price

products = html.find_all("div", attrs={"data-test": "fop-body"})


data = []
for prod in products:
    name, price = product_parser(prod)

    data.append((name,price))

In [ ]:
pd.DataFrame(data, columns=["product_name", "product_price"])